<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-item >
        <button [navPush]="wx_page">Check Forecast</button>
<br>
      <!-- <h2>{{ users['coord'] }}</h2> -->
      <!-- <p>{{user.email}}</p> -->
        <!-- <li *ngFor="#key of users;">{{key}}:{{users[key]}}</li> -->
            <h1>City : {{ place }}</h1>
            <!-- <li ngFor="(k, v) in users">{{k}}: {{v}}</li> -->
          <h1>Wind Speed : {{ wind_speed }}, {{ wind_deg}}</h1>
          <h1>Description:</h1>
          <h4 *ngFor="let char of users">

              {{ char['description'] }}
              
          </h4>


      
    </ion-item>
  </ion-list>
</ion-content>
